@media only screen and (max-width:1920px){
	.left-konten-active{
		margin-top: 3%;
	}
}
@media only screen and (min-width:1601px) and (max-width: 1800px){
	.left-konten-active{
		margin-top: 3.5%;
	}
}
@media only screen and (min-width:768px) and (max-width:1440px){
	.left-konten-active{
		margin-top: 4%;
	}
}
@media only screen and (min-width:768px) and (max-width:1199px){
	.header{
		height: 50px;
	}

	.slide-menu{
	    margin: 13px 20px;	
	}

	.transpom{
		padding: 13px 20px !important;
		font-size: 1.5em !important;
	}

	.profil{
		padding: 12px 15px;
	}

	.left-konten-active{
		margin-top: 4.9%;
	}

	.left-konten a{
		font-size: 18px;
	}

	.cb_head .form-group {
	    margin: 10px 20px 0 0px;
	}

	.cb-head .form-group {
	    margin-bottom: 5px;
	}

	.logo-header img{
		height: 50px;
		margin-left: 60px;
	}

}
@media only screen and (min-width:768px) and (max-width:991px){
	.all-konten-active {
	    margin-left: 25%;
	}

	.left-konten-active {
	    width: 25%;
	}

	.header{
		height: 40px;
	}

	.all-konten{
		margin-top: 6%;
	}

	.slide-menu{
	    margin: 8px 15px;	
	}

	.profil{
		padding: 8px 5px;
	}

	.transpom{
		padding: 8px 15px !important;
		font-size: 1.5em !important;
	}

	.profil a i {
	    font-size: 1.3em;
	}

	.left-konten-kurikulum a {
	    font-size: 1em;
	}

	.left-konten-kurikulum {
	    padding: 16px 7px 9px 0;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
	}

	.left-konten a{
		font-size: 1.1em;
	}

	.btn-search {
	    font-size: 15px !important;
	    background: #fff;
	}

	.field-search{
		height: 30px;
	}

	.input-group-addon {
    	padding: 6px 10px;
	}

	.cb_kls {
    	margin-top: -10px;
    	height: 30px;
    	font-size: 12px;
	}

	.cb_head .form-group span {
	    font-size: 1.3em;
	}

	.logo-header img{
		height: 40px;
		margin-left: 50px;
	}
}
@media only screen and (max-width: 767px){
	.left-konten-active{
		width: 40%;
	}

	.left-konten-kurikulum {
	    padding: 25px 7px 7px 0;
	}

	.all-konten-active{
		margin-left: 0;
	}

	.header{
		height: 40px;
	}

	.all-konten{
		margin-top: 6%;
	}

	.slide-menu{
	    margin: 8px 15px;	
	}

	.profil{
		padding: 8px 5px;
	}

	.transpom{
		padding: 8px 15px !important;
		font-size: 1.5em !important;
	}

	.profil a i {
	    font-size: 1.3em;
	}

	.scroll-table{
		overflow: scroll;
		max-width: 100%;
		max-height: 500px;
	}

	.scroll-table thead{
		font-size: 12px;
	}

	.scroll-table tbody{
		font-size: 12px;
	}

	.btn-search {
	    font-size: 15px !important;
	    background: #fff;
	}

	.cb-head .form-group label {
	    font-size: 18px;
	    margin-bottom: 5px;
	}

	.cb-head .form-group{
		margin-bottom: 5px;
	}

	.field-search{
		font-size: 12px;
		height: 30px;
		z-index: 0 !important;
	}

	.cb_head .form-group {
	    margin: 15px 0;
	}

	.input-group-addon {
    	padding: 6px 10px;
	}

	.cb_kls {
    	margin-top: -10px;
    	height: 30px;
    	font-size: 12px;
	}

	.cb_head {
	    padding: 0px 0 0px 0;
	}

	.cb_head .form-group span {
	    font-size: 1.2em;
	}

	.form-inline .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}

	.judul-konten {
		font-size: 15px;
	   	padding: 10px 0px 10px 15px;
	}

	.tombol-fungsi button{
		padding: 5px 10px;
		font-size: 12px;
	}

	.left-konten a{
		font-size: 18px;
		padding: 6px 8px 6px 20px;
	}

	.left-konten-kurikulum a {
	    font-size: 15px;
	}

	.logo-header img{
		height: 40px;
		margin-left: 50px;
	}
}
@media only screen and (max-width: 599px) {


}
@media only screen and (max-width:480px){

	.footer{
		font-size: 12px;
	}

	.nav-style li a{
		font-size: 0.7em;
		padding: 5px;
	}

	.judul-konten{
		font-size:0.9em;
		padding: 5px;
	}

	.all-konten {
	    margin-top: 9%;
	}

	.left-konten-active {
	    margin-top: 7%;
	    width: 70%;
	}

	.cb-head .form-group label {
	    font-size: 1em;
	}

	.cb_head .form-group span {
	    font-size: 1em;
	}

	.judul-konten {
	    font-size: 0.8em;
	    padding: 5px 0px 5px 15px;
	}

	.logo-header img{
		height: 40px;
		margin-left: 50px;
	}
}