 body{
 	font-family: 'Open Sans';
 	background: #faefff;
 	transition: 0.3s;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
 }

 th{
 	font-weight: 600;
 }

 a:hover{
  text-decoration: none;
 }

 .pointer{
 	cursor: pointer;
 }

.header{
	z-index: 1;
	display: block;
	background: #8440c9;
	height: 60px;
	padding-left: 0px !important;
	padding-right: : 0px !important;
}

.logo-header img{
	height: 60px;
	margin-left: 70px;
}

.main-konten{
  width: 100%;
  min-height: 80vh;
  text-align: center;
  margin: 20px 0 0 0;
}

.nama-header{
    right: 0;
    float: right;
    min-width: 150px;
    text-align: center;
    padding: 10px;
    background: #e6e9ed;
    margin: 10px 0;
    border-radius: 100px;
}

.footer{
	background-color: #8440c9;
	height: 40px;
	color: #fff;
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding: 12px 0;
	bottom: 0px;
	position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {     
    background: #d2cae3;
}
 
::-webkit-scrollbar-thumb {
    background: #a750ff;
}

::-webkit-scrollbar-thumb:hover{
    background: #8440c9;
}

/*==================================MULAI TEMP====================================*/


/*=================================LOGIN================================*/

#wrapper {
	margin: auto;
	text-align: center;
}

#wrapper h1 {
  color: #43434c;
  font-size: 43px;
  margin: 0;
}

#wrapper h2 {
  color: #349E97;
  margin: 0;
}

#wrapper form {
  margin: 35px 0;
}

#inputs {
  height: 127px;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}

#wrapper input {
  background: #FFFEFC;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 auto;
  padding: 13px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 300px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-font-smoothing: antialiased;
}
#wrapper input:hover {
  background: #f3f3f3;
}
#wrapper input:focus {
  background: #EAEAEA;
}
#wrapper input[type=submit] {
  background: #7831c1;
  color: #FFFEFC;
  cursor: pointer;
}

#wrapper img{
	margin: 0 auto;
}

#wrapper #labels {
  -webkit-transition: margin .5s ease-in-out;
  transition: margin .5s ease-in-out;
}

#wrapper label {
  display: block;
  font-size: 14px;
  color: #43434C;
  margin-bottom: 5px;
  font-weight: 600;
  height: 16px;
  -webkit-transition: opacity 1s .3s;
  transition: opacity 1s .3s;
  overflow: hidden;
}
#wrapper label span {
  cursor: pointer;
  color: #349E97;
}

#hint {
  position: absolute;
  bottom: 20px;
  opacity: .2;
  left: 50%;
  margin: 0 -62px;
  font-weight: 600;
}

/*=============================breadcum======================*/
.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    /*border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px*/
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #a750ff;
    border: 1px solid #a750ff;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #a750ff;
    border-left-style: solid;
    border-left-width: 11px;
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #9138eb;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #ba75ff;
    border: 1px solid #ba75ff;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #ba75ff;
}
.breadcrumb-arrow li a:active {
    background-color: #9138eb;
    border: 1px solid #9138eb
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #9138eb;
}
.breadcrumb-arrow li span {
    color: #868e96;
}

/*=======================BTN-PILIHAN====================*/

.flex-inline{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.thumb {
    margin: 15px;
    text-align: center;
    vertical-align: top;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    will-change: transform, box-shadow;
    border-radius: 6px;
    padding: 30px;
    background-color: white !important;
}

.thumb:hover{
  transform: translateY(-5px) translateZ(0);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;      
}

.thumb i{
    color: #55517d;
    font-size: 45px;
    padding: 35px;
    background: #fff;
    border: 1px solid #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 5px 10px 30px 0 rgba(62,57,107,0.07), 2px 2px 9px 0 rgba(62,57,107,0.06);
    border-radius: 50%;
}

a .thumb .thumb-text{
  text-decoration: none;
}

.thumb-judul{
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0;
    color: #3e396b;
}

.thumb-text{
  margin: 0 0 10px;
  color: #8994c6 !important;
  font-size: 15px;
}

/*=======================index========================*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #fff;
  position: relative;
  top: 0;
  width: 100%;
  height: 90vh;
  color: #686a76;
  box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
}
.nav-side-menu .brand {
  padding: 10px 0;
  background-color: #fff;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #0000003d;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

/*.nav-side-menu ul .active,*/
.nav-side-menu li .active {
  color: #fff;
  background-color: #796AEE;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu li a {
  text-decoration: none;
  padding: 15px 5px;
  font-size: 15px;
  color: #686a76;
  display: block;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li a:hover {
  background-color: #796AEE;
  -webkit-transition: all 1s ease;
  color: #fff;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 0.3s ease-out;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
  .select-menu .menu{
    padding: 20px 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
    -webkit-box-align: center;
    align-items: center;
    background: #ffcd14;
    border-radius: 5px;
    width: auto;
    display: inline-block;
  }

  .menu:hover{
    background-color: #ffec3be0;
  }

  .menu:active{
    background-color: #ffbb0c;
  }


  .ikon{
    background: #ffffff !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    color: #ff7676;
    border-radius: 50%;
    margin-right: 15px;
  }
  .no-padding-bottom {
      padding-bottom: 0 !important;
      padding: 50px 0;
  }

  .title {
      font-size: 20px;
      font-weight: 600;
      color: #000;
  }

  .judul-konten{
    width: 100%;
  }

  .judul-konten{
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid #423c7c54;
    padding: 15px 0;
    width: 15%;
  }

  .table-shadow{
    border-top: 5px solid #ffc107;
    background: #fff;
    border-top: 5px solid #f8cc2e;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
  }

  .table th, .table td{
    vertical-align: middle !important;
  }

  .side-navbar ul li a{
    background: #EEF5F9;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: 300;
    border-left: 4px solid transparent;
  }

  .btn-tambah{
    color: #fff;
    background-color: #a750ff;
    border-color: #a750ff;
    margin: 10px 0;
    float: right;
  }

  .btn-tambah:hover{
    color: #fff;
    background-color: #8440c9;
    border-color: #8440c9;
  }

  .btn-simpan{
    font-size: 14px;
    padding: 6px 15px;
  }

  .btn-search{
    background: #ffc107; 
    color: #faefff;
  }

  .btn-search:hover{
    background: #d5aa17;
  }

  .btn-refresh{
    background: #28a745; 
    color: #faefff;
  }

  .form-nama{
      margin: 5px 0;
      height: 35px;
  }

  .tr-border{
    border-bottom: 1px dashed #e4e4e4;
  }

  .judul-form{
    font-size: 18px;
    padding-bottom: 5px;
    width: 10%;
    border-bottom: 2px solid #beb4d4;
  }

  .btn-aksi{
    font-size: 15px;
    padding: 5px 15px;
  }

  .form-tambah{
    width: 100%;
    border-bottom: 1px dashed #e4e4e4;
    margin-bottom: 10px;
  }